<!DOCTYPE html>
<head>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
  <!-- Compiled and minified JavaScript -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>  
  <style>
    .D{
      margin-left: 90%;
    }
    .C{
      margin-right: 50%;
    }
  </style>
</head>
<body>
      <nav>
         <a href="/" class="brand-logo C">ShoeStop</a>
   <a class='dropdown-trigger btn D' href="/" data-target='dropdown2'>Drop Me!</a>
    
     <div class="nav-wrapper black">
      <a href="/" class="brand-logo">Shoe Stop</a>
       <a class='dropdown-trigger btn' href="/" data-target='dropdown2'>Drop Me!</a>

  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
    <li><a href="/portfolio"><i class="material-icons">check</i>Jordans</a></li>
    <li><a href="/portfolio"><i class="material-icons">check</i>Nikes</a></li>
    <li><a href="/contact"><i class="material-icons">cloud</i>Yeezys</a></li>
 <li><a href="/about"><i class="material-icons">cloud</i>Vans</a></li> 
 </ul>
      </ul>
    </div>
  </nav>
  
  <div class="container">
      <h1> Vans</h1>
  </div>
</body>

 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js" type="text/javascript"></script>
    <dl id="sample" class="dropdown">
        <dd>
            <ul>
            </ul>
        </dd>
    </dl>
    <span id="result"></span>

<footer class="page-footer black">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://www.zappos.com/c/shoes?gclid=EAIaIQobChMIkPziypfR2wIVB8RkCh11Mw5cEAAYASAAEgK5l_D_BwE&utm_source=google&utm_medium=sem_g&utm_campaign=333037340&utm_term=kwd-700633029&utm_content=79908347540&zap_placement=1t1">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
          <style>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.dropdown-trigger');
    var instances = M.Dropdown.init(elems, options);
  });

  // Or with jQuery

  $('.dropdown-trigger').dropdown();
      </style>
        </footer>
        
     
        
</body>


